/*养护知识-顶部导航*/
#itroduc_top{
	background:#669934;
	padding:5px 10px;
	overflow:hidden;
	line-height:38px;
}
#itroduc_top p a{
	color:#000;
}
#itroduc_top>p>a:hover{
	color:#f00;
}
#itroduc_top p.rt{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	margin-right:15px;
}


